@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
  url('../fonts/gilroyextrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
  url('../fonts/gilroylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* 
 .d8888b.  888          888               888 
d88P  Y88b 888          888               888 
888    888 888          888               888 
888        888  .d88b.  88888b.   8888b.  888 
888  88888 888 d88""88b 888 "88b     "88b 888 
888    888 888 888  888 888  888 .d888888 888 
Y88b  d88P 888 Y88..88P 888 d88P 888  888 888 
 "Y8888P88 888  "Y88P"  88888P"  "Y888888 888                            
*/

.site {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(70, 70, 70, 1);

  background-color: white;
}

.site__header {
  margin-top: 40px;
}


.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-family: 'Gilroy Extra Bold';
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 4px;
}

.main-heading {
  font-family: 'Gilroy Extra Bold';
  font-size: 47px;
  color: rgba(0, 0, 0, 1);
}

.centered {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


/* 
888    888                        888                  
888    888                        888                  
888    888                        888                  
8888888888  .d88b.   8888b.   .d88888  .d88b.  888d888 
888    888 d8P  Y8b     "88b d88" 888 d8P  Y8b 888P"   
888    888 88888888 .d888888 888  888 88888888 888     
888    888 Y8b.     888  888 Y88b 888 Y8b.     888     
888    888  "Y8888  "Y888888  "Y88888  "Y8888  888                 
*/

.header {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  padding-bottom: 147px;
  line-height: 36px;
  background-color: rgba(247, 226, 150, 1);
}

.header__logo {
  margin-top: -28px;
  margin-bottom: -14px;
}

.header__actions {
  margin-bottom: 5px;
}


.site-logo__img {
  padding: 10px;
  width: 163px;
  height: 35px;
}

.user-actions {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 10px;
}

.user-actions__list {
  display: flex;
  list-style: none;

}

.site-search {
  position: relative;
}

.site-search__label {
  position: relative;
}

.site-search__icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
}

.site-search__field {
  width: 355px;
  padding-left: 39px;
  padding-bottom: 14px;
  color: rgba(1, 1, 1, 0.3);
  background: none;
  border: none;
}

.site-search__field:hover {
  color: rgba(1, 1, 1, 0.6);
}

.site-search__field:active, .site-search__field:focus {
  color: rgba(1, 1, 1, 1);
  border-bottom: 2px solid black;
}

.site-search__button {
  display: none;
  padding: 14px 18px;
  background: none;
  border: 2px solid black;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.site-search__button:hover {
  background-color: rgba(1 , 1, 1, 1);
  color: rgba(250, 250 ,250, 1);
}

.site-search__button:active {
  background-color: rgba(1 , 1, 1, 1);
  color: rgba(250, 250 ,250, 0.3);
}

.site-search__field:active + .site-search__button, .site-search__field:focus + .site-search__button {
  display: inline-block;
}

.user-actions__login {
  margin-right: 222px;
}

.user-actions__compare {
  margin-right: 41px;
}

.user-actions__cart {
  margin-right: 0;
}

.action:hover {
  opacity: 0.6;
}

.action:active {
  opacity: 0.3;
}

.action__link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.icon-login {
  width: 13px;
  height: 12px;
}

.icon-compare {
  width: 10px;
  height: 10px;
}

.icon-cart {
  width: 12px;
  height: 12px;
}

.action__text {
  padding-left: 6px;
}

.nav {
  font-family: 'Gilroy Extra Bold';
  font-size: 18px;

  text-transform: uppercase;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  padding: 10px;
}

.nav__item:nth-child(2) {
  margin-right: 15px;
}

.nav__item:nth-child(3) {
  margin-right: 85px;
}

.nav__item_expandable {
  flex-grow: 2;
}

.nav__item-name {
  margin-right: 3px;
}
.nav__link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0.2em;
}

.nav__icon {
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.nav__sub-list {
  display: none;
  list-style: none;
  font-family: 'Open Sans Light';
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.nav__sub-link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}


/* 
888888b.                              
888  "88b                             
888  .88P                             
8888888K.   8888b.  .d8888b   .d88b.  
888  "Y88b     "88b 88K      d8P  Y8b 
888    888 .d888888 "Y8888b. 88888888 
888   d88P 888  888      X88 Y8b.     
8888888P"  "Y888888  88888P'  "Y8888                                           
*/

.main {
  width: 100%;
}

.services {
  background-color: rgba(229, 229, 229, 1);
}

.product-details__value {
  font-family: 'Gilroy Light';
  font-size: 36px;
  color: rgba(0, 0, 0, 1);
}

.product-details__parameter {
  font-size: 13px;
  line-height: 20px;
}

.category {
  display: flex;
}

.category__link {
  font-family: 'Gilroy Extra Bold';
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.delivery-partners__link {
  font-size: 16px;
  line-height: 40px;
  font-family: 'Gilroy Extra Bold';
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-list__link {
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.filters__title {
  font-family: 'Gilroy Extra Bold';
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting__title {
  font-family: 'Gilroy Extra Bold';
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filters__legend {
  font-family: 'Gilroy Extra Bold';
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}

.filters__options {
  list-style: none;
}

.option__label {
  font-size: 14px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
}

.sorting__link {
  font-family: 'Open Sans Light';
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sorting__link_active {
  color: rgba(0, 0, 0, 1);
}

.product__name {
  font-family: 'Gilroy Extra Bold';
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}

.product__price {
  font-family: 'Gilroy Light';
  font-size: 16px;
}

.product__compare-btn {
  font-size: 13px;
  line-height: 36px;
}

.pagination__control-list {
  list-style: none;
}

.pagination__control-link {
  font-family: 'Gilroy Extra Bold';
  font-size: 16px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.pagination__control-link_direction {
  color: rgba(0, 0, 0, 1);
}

.pagination__control-link_current {
  color: rgba(0, 0, 0, 1);
}


/* 
8888888888                   888                     
888                          888                     
888                          888                     
8888888     .d88b.   .d88b.  888888  .d88b.  888d888 
888        d88""88b d88""88b 888    d8P  Y8b 888P"   
888        888  888 888  888 888    88888888 888     
888        Y88..88P Y88..88P Y88b.  Y8b.     888     
888         "Y88P"   "Y88P"   "Y888  "Y8888  888             
*/

.footer {
  width: 100%;
  background-color: rgba(70, 70, 70, 1);
  color: rgba(250, 250, 250, 1);
  display: flex;
  flex-wrap: wrap;
}

.site-logo__img_footer {
  fill: rgba(255, 198, 0, 1);
}

.action__link_footer {
  color: rgba(255, 255, 255, 1);
}

.nav__link_footer {
  color: rgba(255, 255, 255, 1);
}

.footer__phone-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}


.social__list {
  list-style: none;
  display: flex;
}
