@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
  url('../fonts/gilroyextrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
  url('../fonts/gilroylight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}



/* 
 .d8888b.  888          888               888 
d88P  Y88b 888          888               888 
888    888 888          888               888 
888        888  .d88b.  88888b.   8888b.  888 
888  88888 888 d88""88b 888 "88b     "88b 888 
888    888 888 888  888 888  888 .d888888 888 
Y88b  d88P 888 Y88..88P 888 d88P 888  888 888 
 "Y8888P88 888  "Y88P"  88888P"  "Y888888 888                            
*/

.site {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font: normal 15px/2 "Open Sans", "Arial", "Helvetica", sans-serif;
  color: rgba(70, 70, 70, 1);
}

.site__header {
  margin-top: 40px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  position: relative;
  z-index: 0;

  display: inline-block;
  width: 100%;
  padding: 9px 0;
  vertical-align: middle;

  font: bold 18px "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 3.7px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);

  cursor: pointer;
}

.btn::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-color: rgb(240, 197, 46);

  transform: scaleY(0.14);
  transition: all .2s ease-in-out;
}

.btn:hover::before,
.btn:focus::before {
  transform: scaleY(1);
}

.btn:active,
.btn:active::before {
  color: rgba(0, 0, 0, 0.3);
  transform: scaleY(1);
}

.main-heading {
  font: bold 47px/1.2 "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.6px;
  color: rgba(0, 0, 0, 1);
}

.centered {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}



/* 
888    888                        888                  
888    888                        888                  
888    888                        888                  
8888888888  .d88b.   8888b.   .d88888  .d88b.  888d888 
888    888 d8P  Y8b     "88b d88" 888 d8P  Y8b 888P"   
888    888 88888888 .d888888 888  888 88888888 888     
888    888 Y8b.     888  888 Y88b 888 Y8b.     888     
888    888  "Y8888  "Y888888  "Y88888  "Y8888  888                 
*/

.header {
  min-height: 188px;
  padding: 0 55px 0;
  background-color: rgba(240, 197, 46, 0.5);
}

.header__logo {
  display: inline-block;
  margin-top: -28px;
}

.header__actions {
  margin-bottom: 18px;
}

.header__nav {
  margin-bottom: 0;
}

.site-logo {
  height: 45px;
}

.site-logo:hover,
.site-logo:focus {
  opacity: 0.6;
}

.site-logo:active {
  opacity: 0.3;
}

.site-logo__img {
  width: 163px;
  height: 35px;
  padding: 5px;
}

.user-actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.user-actions__item {
  margin-right: 10px;
}

.user-actions__item_search {
  position: relative;
  flex-basis: 440px;
}

.user-actions__list {
  display: flex;
  flex-basis: 505px;
  flex-wrap: wrap;
  list-style: none;
}

.user-actions__item_login {
  flex-basis: 159px;
}

.user-actions__item_logout {
  flex-basis: 107px;
}

.user-actions__item_compare {
  flex-basis: 100px;
}

.user-actions__item_cart {
  margin-right: 6px;
  margin-left: auto;
}

.site-search {
  display: flex;
  align-items: center;
}

.site-search__label {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
}

.site-search__icon {
  width: 16px;
  height: 16px;
}

.site-search__field {
  flex-basis: 355px;
  height: 49px;
  padding-left: 40px;
  padding-right: 10px;
  color: rgba(1, 1, 1, 0.3);
  background: none;
  border: none;
  border-bottom: 2px solid rgba(1, 1, 1, 0);
}

.site-search__field:active,
.site-search__field:focus {
  border-bottom-color: rgba(1, 1, 1, 1);
  outline: none;
}

.site-search__field::-webkit-input-placeholder {
  color: rgba(1, 1, 1, 0.3);
}

.site-search__field:hover::-webkit-input-placeholder {
  color: rgba(1, 1, 1, 0.6);
}

.site-search__field:active::-webkit-input-placeholder,
.site-search__field:focus::-webkit-input-placeholder {
  color: rgba(1, 1, 1, 1);
}

.site-search__button {
  display: none;
  height: 49px;
  padding: 0 18px;
  background: none;
  border: 2px solid black;
  border-radius: 0px;
  cursor: pointer;
}

.site-search__field:active + .site-search__button,
.site-search__field:focus + .site-search__button {
  display: flex;
}

.site-search__field:focus + .site-search__button:hover,
.site-search__field:active + .site-search__button:hover {
  background-color: rgba(1, 1, 1, 1);
  color: rgba(250, 250, 250, 1);
}

.site-search__field:focus + .site-search__button:active,
.site-search__field:active + .site-search__button:active {
  background-color: rgba(1, 1, 1, 1);
  color: rgba(250, 250, 250, 0.3);
}

.action__link {
  position: relative;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.action__link:hover {
  opacity: 0.6;
}

.action__link:active {
  opacity: 0.3;
}

.action__text {
  padding-left: 7px;
}

.icon-login {
  width: 13px;
  height: 12px;
}

.icon-compare {
  width: 10px;
  height: 10px;
}

.icon-cart {
  width: 12px;
  height: 12px;
}

.nav {
  font: bold 18px "Gilroy", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
}

.nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
  padding: 5px 0 5px 5px;
}

.nav__item_catalog {
  flex-basis: 516px;
  margin-right: 40px;
  cursor: pointer;
}

.nav__item_delivery {
  flex-basis: 134px;
}

.nav__item_warranty {
  flex-basis: 179px;
}

.nav__item_contacts {
  margin-right: 0;
  margin-left: auto;
}

.nav__item-name {
  margin-right: 3px;
}

.nav__link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 3.5px;
  outline: none;
}

.nav__link:hover,
.nav__link:focus {
  color: rgba(1, 1, 1, 0.6);
}

.nav__link:active {
  color: rgba(1, 1, 1, 0.3);
}

.nav__icon {
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.nav__sub-list {
  position: absolute;
  left: -55px;
  z-index: 2;

  display: none;
  width: 1100px;
  min-height: 142px;
  padding: 23px 0 0 60px;

  font: normal 15px/36px "Open Sans", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.1px;
  list-style: none;
  text-transform: none;
  background-color: rgba(247, 226, 150, 1);
}

.nav__item_catalog:hover .nav__sub-list {
  display: block;
}

.nav__sub-item {
  display: inline-block;
  margin-right: 59px;
  vertical-align: top;
}

.nav__sub-link {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.nav__sub-link:hover,
.nav__sub-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav__sub-link:active {
  color: rgba(0, 0, 0, 0.3);
}


/* 
888888b.                              
888  "88b                             
888  .88P                             
8888888K.   8888b.  .d8888b   .d88b.  
888  "Y88b     "88b 88K      d8P  Y8b 
888    888 .d888888 "Y8888b. 88888888 
888   d88P 888  888      X88 Y8b.     
8888888P"  "Y888888  88888P'  "Y8888                                           
*/

.site__main {
  margin-bottom: 83px;
}

.site__catalog {
  margin-top: -14px;
}

.main {
  width: 100%;
}

.main__slider {
  margin-bottom: 62px;
}

.main__categories {
  margin-bottom: 184px;
}

.main__brands {
  margin-bottom: 95px;
}

.main__services {
  margin-bottom: 95px;
}

.slider {
  position: relative;
  padding: 0 0 35px;
}

.slider::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 111px;
  background-color: rgb(247, 226, 150);
}

.slider__switcher {
  position: absolute;
  right: 74px;
  bottom: 183px;
  display: flex;
  justify-content: space-between;
  width: 95px;
  list-style: none;
}

.slider__switch {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 10px;
  background: none;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.slider__switch:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 2px white,
  inset 0 0 0 3px black;
  cursor: pointer;
  pointer-events: none;
}

.slide {
  display: flex;
  justify-content: space-between;
}

.slide__img-wrapper {
  width: 500px;
  margin-left: 35px;
  padding-left: 55px;
}

.slide__info-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 505px;
  padding-right: 55px;
}

.slide__order {
  position: absolute;
  top: -11px;
  right: 48px;
  width: 100%;
  font: bold 179px/1 "Gilroy", "Arial", "Helvetica", sans-serif;
  text-align: right;
  color: rgba(255, 255, 255, 1);
}

.slide__order::before {
  content: '';
  position: absolute;
  top: 48px;
  left: 48px;
  width: 100px;
  height: 7px;
  background-color: white;
}

.slide__slogan {
  z-index: 1;
  padding-top: 32px;
  margin-bottom: 2px;
}

.slide__description {
  flex-basis: 90px;
}

.slide__product-link {
  width: 220px;
  margin-bottom: 51px;
}

.services {
  min-height: 288px;
  background-color: rgba(229, 229, 229, 1);
}

.product-details__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 11px;
}

.product-details__value {
  margin-right: 75px;
  font: normal 36px "Gilroy", "Arial", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 1);
}

.product-details__parameter {
  margin-right: 77px;
  font-size: 13px;
  line-height: 20px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category__link {
  display: flex;
  flex-direction: column;
  flex-basis: 160px;
  font: bold 18px/22px "Gilroy", "Arial", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.category__link-img-container {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;
  background-color: rgba(240, 197, 46, 0.5);
}

.category__link-img {
  position: absolute;
}

.category__link-img_virtual {
  top: 52px;
  left: 31px;
  width: 97px;
  height: 55px;
}

.category__link-img_monopod {
  top: 41px;
  left: 38px;
  width: 86px;
  height: 117px;
}

.category__link-img_camera {
  top: 38px;
  left: 49px;
  width: 71px;
  height: 87px;
}

.category__link-img_bracelet {
  top: 50px;
  left: 28px;
  width: 107px;
  height: 65px;
}

.category__link-img_watch {
  top: 32px;
  left: 55px;
  width: 56px;
  height: 98px;
}

.category__link-img_quadrocopter {
  top: 49px;
  left: 13px;
  width: 132px;
  height: 69px;
}
.category__link-text {
  letter-spacing: 0.2px;
}

.category__link:hover .category__link-img-container,
.category__link:focus .category__link-img-container {
  background-color: rgba(240, 197, 46, 1);
  transition: ease-in-out 0.2s;
}

.category__link:active .category__link-img-container{
  background-color: rgba(240, 197, 46, 1);
  transition: ease-in-out 0.2s;
}

.category__link:active .category__link-img {
  opacity: 0.3;
}

.category__link:active .category__link-text {
  opacity: 0.3;
}

.accordion {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.accordion__btns {
  flex-basis: 254px;
  position: relative;
  margin-top: -18px;
}

.accordion__btns::after {
  content: '';
  position: absolute;
  top: -82px;
  right: -30px;
  width: 7px;
  height: 319px;
  background-color: black;
}

.accordion__btn {
  width: 160px;
  margin-bottom: 26px;
  border: none;
  background: none;
}

.accordion__btn_active {
  position: relative;
  background-color: black;
  border-radius: 0;
  color: rgb(247, 225, 132);
}

.accordion__btn_active::after  {
  content: '';
  position: absolute;
  top: 0;
  right: -120px;
  width: 120px;
  height:38px;
  background-color: black;
} 

.accordion__btn_active:not(:active)::before {
  background: none;
}


.accordion__tab {
  flex-basis: 758px;
  margin-top: -77px;
  margin-right: 0;
}

.accordion__heading {
  margin-bottom: 26px;
}

.accordion__description {
  width: 600px;
  letter-spacing: 0.2px;
  padding-bottom: 20px;
}

.accordion__img {
  position: absolute;
  top: -15px;
  right: 86px;
}

.brand {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.brand__item {
  width: 260px;
  height: 100px;
}

.brand__link {
  width: 260px;
  height: 100px;
}

.brand__link_dji {
  background-image: url('../img/brands/logo-1.jpg');
  transition: ease-out 0.2s;
}

.brand__link_dji:hover,
.brand__link_dji:focus {
  background-image: url('../img/brands/logo-1-hover.jpg');
  transition: ease-in 0.2s;
}

.brand__link_spga {
  background-image: url('../img/brands/logo-2.jpg');
  transition: ease-out 0.2s;
}

.brand__link_spga:hover,
.brand__link_spga:focus {
  background-image: url('../img/brands/logo-2-hover.jpg');
  transition: ease-in 0.2s;
}

.brand__link_gopro {
  background-image: url('../img/brands/logo-3.jpg');
  transition: ease-out 0.2s;
}

.brand__link_gopro:hover,
.brand__link_gopro:focus {
  background-image: url('../img/brands/logo-3-hover.jpg');
  transition: ease-in 0.2s;
}

.brand__link_vive {
  background-image: url('../img/brands/logo-4.jpg');
  transition: ease-out 0.2s;
}

.brand__link_vive:hover,
.brand__link_vive:focus {
  background-image: url('../img/brands/logo-4-hover.jpg');
  transition: ease-in 0.2s;
}

.company-details {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about-us {
  flex-basis: 560px;
}

.about-us__delivery-partners-section {
  margin-bottom: 55px;
}

.about-us__more-info-link {
  width: 260px;
}

.delivery-partners {
  padding: 0;
  list-style: none;
}

.delivery-partners__item {
  position: relative;
  padding-left: 35px;
}

.delivery-partners__item::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(229, 229, 299);
  border-radius: 50%;
}

.contacts {
  flex-basis: 560px;
}

.contacts__description {
  margin-bottom: 40px;
}

.contacts__map {
  margin-bottom: 60px;
}

.company-details__heading {
  position: relative;
  margin-bottom: 37px;
}

.company-details__heading::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: black;
}

.contacts__contact-link {
  width: 260px;
}

.company-details__map {
  display: block;
  position: absolute;
  width: 960px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.map {
  width: 560px;
  min-height: 222px;
}
.modal-map_hidden {
  display: none;
}

.about-us__description {
  margin-bottom: 30px;
}

.about-us__description:last-of-type {
  margin-bottom: 66px;
}

.delivery-partners__link {
  font: bold 16px/40px "Gilroy", "Arial", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}


/* CATALOG ***********************************************************************/

.catalog__content {
  display: flex;
}

.catalog__filters {
  position: relative;
  width: 40.5%;

  background-color: rgba(238, 238, 238, 1);
}

.catalog__filters::after {
  content: '';
  
  position: absolute;
  top: 0;
  
  width: 100%;
  height: 70px;

  background-color: rgba(219, 219, 219, 0.8);
  z-index: 0;
}

.catalog__title {
  margin-bottom: 13px;
}

.catalog__header {
  padding: 0 59px 0;
  margin-bottom: 39px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs__icon {
  position: absolute;
  top: 14px;
  right: -21px;
  width: 4px;
  height: 7px;
  pointer-events: none;
}

.breadcrumbs__link {
  position: relative;
  margin-right: 42px;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters {
  width: 265px;
  margin-left: auto;
}

.filters__header {
  display: flex;
  margin-bottom: 83px;
  min-height: 70px;
}

.filters__title {
  position: relative;
  z-index: 1;
  margin: 0;
  padding-top: 25px;
  font: bold 16px "Gilroy", "Arial", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.filters__form {
  padding-right: 67px;
}

.filters__submit-btn {
  border: none;
  background: none;
}

.filters__fieldset {
  position: relative;
  margin: 0;
  padding: 0 0 37px;
  width: 200px;
  border: none;
}

.filters__fieldset::before {
  content: '';
  position: absolute;
  top: -14px;
  background-color: black;
  width: 100%;
  height: 2px;
}

.filters__fieldset_price {
  margin-bottom: 10px;
}
.filters__legend {
  margin-bottom: 36px;
  font: bold 18px "Gilroy", "Arial", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 1);
}

.price-range{
  position: relative;
  width: 100%;
}

.price-range__scale {
  height: 2px;
  background-color: rgb(219, 219, 219);  
}

.price-range__bar {
  width: 60%;
  height: 2px;
  background: rgb(145, 201, 47);
}

.toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 5px;
  height: 5px;
  background: rgb(212, 212, 212);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgb(207, 207, 207);
}
.toggle:active {
  width: 7px;
  height: 7px;
}

.toggle_min {
  left: -5px;
}

.toggle_max {
  left: 108px;
}

.price-range__select {
  margin-top: 9px;
  padding-bottom: 4px;
  font: normal 14px/22px "Gilroy", "Arial", "Helvetica", sans-serif;
  color: rgba(0,0,0,.2);
}
.price-range__select-min {
  margin-right: 55px;
}

.filters__fieldset_color {
  margin-bottom: 0;
}

.filters__legend_color {
  margin-bottom: 0;
}
.filters__options {
  list-style: none;
  padding-top: 5px;
  margin-bottom: 8px;
}

.option__label {
  position: relative;
  font-size: 14px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.option__label::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -41px;
  width: 19px;
  height: 19px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.option__input {
  position: relative;
  z-index: 0;
  display: none;
}

.option__icon {
  display: none;
  position: absolute;
  top: 2px;
  left: -38px;
  width: 24px;
  height: 14px;
}

.option__input:checked + .option__label .option__icon {
  display: block;
}

.option__label:hover::before {
  opacity: .6;
}
.option__label:hover > .option__icon {
  opacity: .6;
}

.option__label:active::before {
  opacity: 1;
}

.option__label:active > .option__icon {
  opacity: 1;
}

.filters__fieldset_bluetooth {
  margin-bottom: 24px;
  padding: 0;
}

.filters__legend_bluetooth {
  margin-bottom: 0;
}

.option__radio {
  position: relative;
  font-size: 14px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.option__radio::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -43px;
  width: 15px;
  height: 15px;
  border: 4px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.option__radio {
  position: relative;
}

.option__inner-radio {
  position: absolute;
  display: none;
  top: 6px;
  left: -35px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
}

.option__input:checked + .option__radio .option__inner-radio {
  display: block;
}

.option__radio:hover::before {
  opacity: .6;
}
.option__radio:hover > .option__inner-radio {
  opacity: .6;
}

.option__radio:active::before {
  opacity: 1;
}

.option__radio:active > .option__inner-radio {
  opacity: 1;
}

.main__sorting {
  background-color: rgb(235, 235, 235);
}

.sorting__inner {
  display: flex;
  width: 830px;
  min-height: 70px;
  align-items: center;
}

.sorting__title {
  position: relative;
  flex-basis: 201px;
  margin: 0;
  padding-left: 75px;
  font: bold 16px "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  z-index: 1;
}

.sorting__types {
  flex-basis: 280px;
  display: flex;
  justify-content: space-between;
}

.sorting__directions {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 40px;
}
.sorting__dir {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
}

.sorting__dir::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 11px 6px;
  border-color: transparent transparent #000000 transparent;
}

.sorting__dir_desc {
  transform: rotate(180deg);
}

.sorting__link {
  font: normal 14px/18px "Open Sans", "Arial", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sorting__link_active {
  color: rgba(0, 0, 0, 1);
}

.catalog__products {
  position: relative;
  width: 70%;

}

.product-cards__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 69px 73px 0;
  background-color: rgba(255, 255, 255, 1);
}

.product-cards__card {
  position: relative;
  width: 360px;
  margin: 0 40px 53px 0;
}

.product {
  display: flex;
  flex-direction: column;
}
.product__info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}
.product__photo {
   margin-bottom: 10px;
}
.product__name {
  width: 240px;
  font: bold 18px "Gilroy", "Arial", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.product__price {
  font: normal 16px "Gilroy", "Arial", "Helvetica", sans-serif;
}

.product__buy-box {
  display: none;
}
.product__link {
  position: relative;
}
.product__link:hover .product__buy-box {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, .7);  
}

.product__buy-btn {
  width: 200px;
  margin: 171px auto 8px;
}
.product__compare-btn {
  margin: 0 auto;
  font-size: 13px;
  line-height: 36px;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.product__compare-btn:hover {
  color: rgba(1, 1, 1, .5);
}

.product__compare-btn:active {
  color: rgba(1, 1, 1, .2);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  min-height: 70px;
  margin: -13px 0 77px 73px; 
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(235, 235, 235, 1);
}
.pagination__link {
  margin-right: 25px;
  font: bold 16px "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: none;
}

.pagination__link:last-child {
  margin-right: 0;
}

.pagination__link_direction {
  line-height: 70px;
  color: rgba(0, 0, 0, 1);
  padding: 0 30px;
}

.pagination__link_direction:hover {
  background-color: rgb(217, 217, 217);
}

.pagination__link_direction:active {
  color: rgba(0, 0, 0, .3);
}


.pagination__pages {
  padding: 0 20px;
  margin-left: -10px;
}

.pagination__link_page:hover,
.pagination__link_page:focus {
  color: rgba(0, 0, 0, .6);
}

.pagination__link_page:active {
  color: rgba(0, 0, 0, 1);
}

.pagination__link_current {
  color: rgba(0, 0, 0, 1);
}



/* 
8888888888                   888                     
888                          888                     
888                          888                     
8888888     .d88b.   .d88b.  888888  .d88b.  888d888 
888        d88""88b d88""88b 888    d8P  Y8b 888P"   
888        888  888 888  888 888    88888888 888     
888        Y88..88P Y88..88P Y88b.  Y8b.     888     
888         "Y88P"   "Y88P"   "Y888  "Y8888  888             
*/

.footer {
  min-height: 320px;
  background-color: rgba(70, 70, 70, 1);
  color: rgba(250, 250, 250, 1);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__col_left {
  align-items: flex-start;
  position: relative;
  flex-basis: 342px;
  margin-right: 20px;
  padding-top: 130px;
}

.footer__logo {
  position: absolute;
  top: 60px;
  left: -5px;
}

.footer__address {
  position: relative;
  font-style: normal;
}

.footer__address::after {
  content: '';

  position: absolute;
  top: 107px;
  left: 0;
  width: 80px;
  height: 7px;

  background-color: rgb(255, 198, 0);
}

.footer__col_middle {
  flex-basis: 440px;
  padding-top: 134px;
  align-items: center;
  margin-right: 20px;
}

.footer__nav {
  margin-bottom: 49px;
  width: 100%;
}

.nav__item_delivery-footer {
  flex-basis: 135px;
}

.nav__item_warranty-footer {
  flex-basis: 126px;
}

.footer__col_right {
  align-items: flex-end;
  flex-basis: 340px;
}

.site-logo__img_footer {
  fill: rgba(255, 198, 0, 1);
}

.footer__actions {
  padding-top: 48px;
  margin-bottom: 22px;
}

.footer__phone {
  margin-bottom: 62px;
}

.action__link_footer {
  color: rgba(255, 255, 255, 1);
}

.action_login_footer {
  margin-right: 46px;
}

.action_compare_footer {
  margin-right: 40px;
}

.action_cart_footer {
  margin-right: 0;
}

.nav__link_footer {
  color: rgba(255, 255, 255, 1);
}

.nav__link_footer:hover,
.nav__link_footer:focus {
  color: rgba(255, 255, 255, 0.6);
}

.nav__link_footer:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__phone-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.social__link {
  padding: 11px;
  width: 32px;
  height: 32px;
}

.social__link:hover,
.social__link:focus {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.3;
}

.social__icon {
  width: 32px;
  height: 32px;
}

.icon-footer {
  fill: rgb(255, 198, 0);
}

.copyright__link:hover,
.copyright__link:focus {
  opacity: 0.6;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__icon {
  width: 27px;
  height: 34px;
}

.modal-contact {
  display: block;
  width: 960px;
  min-height: 553px;
  max-height: 753px;
  -webkit-box-shadow: 0px 12px 50px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 50px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 50px -12px rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 1100px auto;
  background-color: white;
  z-index: 1;
}

.modal-contact_hidden {
  display: block;
}

.contact-form {
  padding: 98px 100px 0;
}
.contact-form__fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact-form__field {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  display: block;
  margin-bottom: 37px;
}

.contact-form__field_text {
  margin-bottom: 39px;
}
.contact-form__comment {
  width: 720px;
  height: 140px;
  border: none;
  padding: 17px 20px 0;
  background-color: rgba(229, 229, 229, .5);
  font-size: 14px;
  line-height: 18px;
  color: rgba(1, 1, 1, .4);
}

.contact-form__comment::-webkit-input-placeholder {
  color: rgba(1, 1, 1, .4);
}

.contact-form__comment:focus {
  outline: 3px solid rgb(247, 226, 150);
}

.contact-form__label {
  display: block;
  margin-bottom: 9px;
}

.contact-form__input {
  width: 320px;
  padding: 16px 20px;
  display: block;
  border: none;
  background-color: rgba(229, 229, 229, .5);
  font-size: 14px;
  line-height: 18px;
  color: rgba(1, 1, 1, .4);
}

.contact-form__input::-webkit-input-placeholder {
  color: rgba(1, 1, 1, .4);
}

.contact-form__input:hover {
  background-color: rgba(229, 229, 229, .8);
}

.contact-form__comment:hover {
  background-color: rgba(229, 229, 229, .8);
}

.contact-form__input:focus {
  outline: 3px solid rgb(247, 226, 150);
}

.contact-form__input:invalid {
  background-color: rgb(237, 181, 181);
} 

.contact-form__btn {
  width: 200px;
  border: none;
  background-color: none;
}
.close-btn {
  position: absolute;
  top: 23px;
  right: 22px;
  height: 55px;
  width: 55px;
  border: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55"><path fill="#F0C52E" d="M27.5 0C12.312 0 0 12.312 0 27.5S12.312 55 27.5 55 55 42.688 55 27.5 42.688 0 27.5 0zm11.476 37.072l-1.486 1.426-9.99-9.574-9.987 9.574-1.488-1.426 9.988-9.573-9.987-9.573 1.487-1.425 9.987 9.573 9.988-9.573 1.487 1.425-9.989 9.574 9.99 9.572z"/></svg>');
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}
.contact-form__submit {
  border: none;
  background: none;
}